.filter-title-layout {
  padding: 20px 30px;
  border-bottom: 1px solid var(--color-medium-gray);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter-section-layout {
  padding: 40px 30px;
  border-bottom: 1px solid var(--color-medium-gray);
}
